.logo-block {
  background-color: #a4c49c;
  height: 300px;
}

.logo-text {
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}

.form-group {
  padding-bottom: 15px;
}
