<div *ngFor="let card of cardDetails" class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card-block">
          <p class="food-category">{{card.category}}</p>
          <div class="row">
            <div class="col-8">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus augue.</p>
            </div>
            <div class="col-4">
              <img src="//placehold.it/80" class="img-fluid" alt="">
            </div>
          </div>
          <a (click)="toggleCard(card)">
            <p>Order now<i class="fa fa-chevron-down"></i></p>
          </a>
          <div *ngIf="(isCollapsed && card === selectedCard)" class="row">
            <div class="col-5">
              <p><i class="fa fa-user"></i>People</p>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                  <button (click)="peopleSelected(2)" type="button" class="btn btn-group-select">2</button>
                  <button (click)="peopleSelected(4)" type="button" class="btn btn-group-select">4</button>
                  <button (click)="peopleSelected(6)" type="button" class="btn btn-group-select">6</button>
                </div>
              </div>
            </div>
            <div class="col-5">
              <p><i class="fa fa-calendar"></i>Nights</p>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                  <button (click)="nightsSelected(3)" type="button" class="btn btn-group-select">3</button>
                  <button (click)="nightsSelected(5)" type="button" class="btn btn-group-select">5</button>
                </div>
              </div>
            </div>
          </div>
          <a href="">
            <p class="see-menu">See menu</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>