<div class="container">
<p>Choose 3-5 recipes to make custom plan</p>
<div class="row">
  <div class="col-12 card-padding">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card-block">
              <div class="row">
                <div class="col-9">
                  <p>Order now</p>
                </div>
                <div class="col-3">
                  <img src="//placehold.it/80" class="img-fluid" alt="">

                </div>
              </div>
 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
  <div class="row">
    <div class="col-6 card-padding">
      <app-custom-card></app-custom-card>
    </div>
    <div class="col-6 card-padding">
      <app-custom-card></app-custom-card>
    </div>
  </div>
</div>
